@layer framie, test;

@layer test {
  .cont > a {
    text-decoration: none;
    background: linear-gradient(blue, orange);
    padding: 10px;
    border-radius: 20px;
    font-family: cursive;

    &:hover {
      transform: scale(1.1);
    }
  }

  .cont > .blend-mode {
    & > #targets {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 50px;
      margin-block-end: 70px;

      & > * {
        position: relative;
        width: 250px;
        height: 250px;

        &::after {
          word-break: keep-all;
          font-size: 15px;
          position: absolute;
          bottom: -50px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      & > #bg-target {
        background-image: linear-gradient(red, red),
          linear-gradient(orange, orange), linear-gradient(blue, blue),
          linear-gradient(yellow, yellow);
        background-repeat: no-repeat;
        background-size: 70% 70%;
        background-position: top right, top left, bottom right, bottom left;

        &::after {
          content: "background-blend-mode";
        }
      }

      & > #mix-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(blue, orange) no-repeat center;

        & > :only-child {
          width: 70%;
          height: 70%;
          background: url(../../Files/images/firefox-logo.svg) no-repeat center;
        }

        &::after {
          content: "mix-blend-mode";
        }
      }
    }

    & > #controls {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
    }
  }
}
