@font-face {
  font-family: 'cairo';
  src: url(../../../../CSS/framework/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scrollbar-width: none; /* remove the scrollbar from all */
  margin: 0;
  padding: 0;
  font-weight: bolder;
  scroll-padding: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'cairo', monospace;
  color: #fff;
  padding: 10px;
  height: 100dvh;
}

::selection {
  background-color: orange;
  color:  blue;
}

img,
picture,
video {
  max-width: 100%;
}

p {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #333;
  border-radius: 10px;
  margin: 10px;
}

code {
  padding: 20px 30px;
  font-size: 1.3rem;
  background-color: #555;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  width: 80%;
}

hr {
  background-color: orange;
  border-radius: 100px;
  height: 7px;
  margin: 20px 0;
}

u {
  color: orange;
}

ul {
  background-color: #333;
  padding: 20px;
  list-style: none;
  width: fit-content;

  & > li {
    background-color: #777;
    padding: 10px;
    margin-block: 5px;
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
  }
}

label {
  color: orangered;
  font-size: 1.25rem;
}

input {
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 20px;
  background-color: #5561f5;
  border-radius: 100px;
  color: white;
  border: none;
  font-size: 1.5rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;

  &:active {
    color: orange;
    background-color: white;
  }

  &:hover {
    box-shadow: 0 0 10px 3px orange;
  }
}

select {
  padding: 10px;
  border-radius: 100px;
  margin: 20px auto;
  display: block;
  font-size: 1.3rem;
}

.title {
  display: block;
  color: orange;
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
}

.box {
  gap: 10px;
  background-color: #333;
  padding: 10px;
  margin: 30px 0;

  &.flex {
    display: flex;
    flex-flow: row wrap;

    & > .slot {
      flex: 1 0 200px;
    }
  }

  &.grid {
    display: grid;
    grid: auto-flow / repeat(auto-fill, minmax(200px, 1fr));

    & > .slot {
      height: 120px;
    }
  }

  & > .slot {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    
    &.count {
      counter-increment: counter;
      background-color: #777;

      &::after {
        content: counter(counter);
        font-size: 45px;
      }
    }

    &.empty {
      background-color: #000;
    }
  }
}

.DOM {
  width: fit-content;
  margin: 10px auto 70px;
  border: 5px solid orange;
  padding: 1px 20px;
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 100px;

  &:hover {
    color: orangered;
    border-color: tomato;
  }
}

.back-to-top {
  cursor: pointer;
  border: 20px solid;
  border-radius: 50%;
  border-color: #5561f5;
  width: fit-content;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 700ms;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    transform: translateY(-20px);
  }
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 70px;
}

.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.flex-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  padding: 10px;
  border: 5px solid orangered;
  border-radius: 10px;
  background-color: #333;
  max-width: 100%;
  line-break: anywhere;

  & > legend {
    background-color: orangered;
    padding: 1px 15px;
    border-radius: 100px;
    font-size: 0.75rem;
  }
}

.rainbow {
  width: 250px;
  aspect-ratio: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  &._1 {
    animation: rainbow-effect 14s linear infinite alternate;
  }
}

.activeElement {
  background-color: #5561f5;
  padding: 10px;
  gap: 20px;

  & > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

  & > textarea {
    height: 100px;
    padding: 5px;
  }
  }

  & > .outputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}

.remove {
  display: none;
}

@keyframes rainbow-effect {
  0% {
    background-color: red;
  }
  17% {
    background-color: orange;
  }
  34% {
    background-color: yellow;
  }
  51% {
    background-color: green;
  }
  68% {
    background-color: blue;
  }
  85% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}
