@layer framie, test;

@layer test {
  a#ref {
    text-decoration: none;
    background: linear-gradient(blue, orange);
    padding: 10px;
    border-radius: 20px;
    font-family: cursive;
    width: fit-content;

    &:hover {
      transform: scale(1.1);
    }
  }

  .font {
    & > p {
      /* font-family: Lora, serif; */
      font-family: monospace;

      /* font-size: 3ex; */
      /* font-stretch: ultra-expanded; */
      /* font-style: oblique 20deg; */
      /* font-weight: bolder; */
      /* line-height: 1.3; */

      /* font-variant: small-caps; */
      /* font-variant-caps: all-small-caps; */
      /* font-variant-emoji: emoji; */
      /* font-variant-ligatures: discretionary-ligatures; */

      /* font-kerning: auto; */
      /* font-synthesis: auto; */

      /* font-optical-sizing: auto; */
      /* font-size-adjust: 0.5; */

      /* shothand */
      font: italic normal bold normal 3ex/1.3 monospace;
    }

    & > #nums {
      font-variant-numeric: slashed-zero ordinal;
    }

    & > #power > span {
      font-variant-position: super;
    }
  }

  .text > p {
    border: 2px solid;
    padding: 10px;
    /* width: 500px; */
    font-size: xx-large;
    font-family: monospace;
    /* overflow: scroll; */

    /* -------------------------------- */

    /* text-align: justify; */
    /* text-align-last: center; */
    /* text-justify: inter-character; */

    /* text-transform: uppercase; */

    /* text-rendering: optimizeSpeed; */

    /* text-indent: 2em hanging each-line; */

    /* text-size-adjust: auto; */

    /* writing-mode: vertical-lr; */
    /* text-orientation: upright; */
    /* & > .nums {
      text-combine-upright: all;
    } */

    /* text wraping & word breaking */
    /* ----------------------- */

    hyphens: auto;

    /* text-wrap: balance; */

    /* white-space: pre-line; */

    /* overflow-wrap: break-word; */

    /* word-break: keep-all; */

    /* width: 100px;
    white-space: nowrap;
    overflow: hidden;
    direction: ltr;
    text-overflow: "\\\\"; */

    /* ----------------------- */

    /* text-shadow: 2px 2px 1px red, 4px 4px 2px orange; */

    /* writing-mode: vertical-lr; */
    /* text-decoration: underline wavy 2px red; */
    /* text-underline-offset: 3px; */
    /* text-underline-position: under left; */

    /* text-emphasis-style: "M"; */
    /* text-emphasis: filled triangle red; */
    /* text-emphasis-position: under right; */

    /* -------------------------------- */
  }
}
