@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Caprasimo", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

* {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  transition: all 100ms linear;
}

::selection {
  color: white;
  background-color: blueviolet;
}

body {
  background-color: #333;
}

::-webkit-scrollbar {
  display: none; /* hide the scrollbar */
}

.remove {
  display: none;
}

.cont {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 70px;
}

.section {
  border: 2px solid orangered;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

fieldset {
  border: 5px solid orangered;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
legend {
  background-color: orangered;
  border-radius: 50px;
  padding: 10px;
}

.hearder-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 50px auto 100px;
  gap: 20px;
}

hr {
  border: 3px solid red;
  border-radius: 20px;
  margin-block: 100px;
}

progress {
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
}

.progress-cont {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 10px;
  background-color: #eee;
  z-index: 100;
}
.progress-cont > #progress {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 0%;
  height: 10px;
  background-color: #5561f5;
  transition: width 300ms ease-out;
}

.Header {
  text-align: center;
  font-weight: bolder;
  border: 5px solid red;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  width: fit-content;
  height: fit-content;
}
.Header:hover {
  background-color: yellow;
  color: chocolate;
  cursor: pointer;
}

.back-to-top {
  cursor: pointer;
  margin-bottom: 30px;
  border: 30px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: aqua;
  position: relative;
}
.back-to-top::after {
  content: "Back to top";
  background-color: coral;
  padding: 15px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  font-size: 25px;
  text-wrap: nowrap;
  position: absolute;
  left: 25px;
  top: -50px;
  visibility: hidden;
}
.back-to-top:hover::after {
  visibility: visible;
}

::placeholder {
  color: #5561f5;
}

textarea {
  background-color: #555;
  color: #fff;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 30px;
  resize: none;
}

/* CLOCK START */

.CDC {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  width: 250px;
  background-color: #5561f5;
  border-radius: 50px;
}

.CDC.TM {
  flex-flow: row nowrap;
}
.CDC.TM > span {
  width: 70px;
  white-space: nowrap;
}

.CDC.TM:hover > span {
  color: orange;
  transform: scale(1.2);
  cursor: default;
}

.CDC.TM > p {
  position: absolute;
  top: -40px;
  font-size: 20px;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
}

/* CLOCK END */

/* 'input & output & button' Styling Start */

input,
button,
output {
  color: black;
  border-radius: 30px;
  margin: 10px;
  align-self: center;
  padding: 15px;
}
output {
  background-color: #fff;
}
button {
  cursor: pointer;
}
input:focus {
  background-color: #e5dddd;
}
button:active {
  background-color: yellow;
}
button:hover {
  transform: scale(1.1);
}

/* 'input' Styling End */
