@layer framie, test;

@layer test {
  @font-face {
    font-family: "myfont";
    /* variable font */
    src: url("./fonts/Marhey/Marhey-VariableFont_wght.woff2") format("woff2"),
      url("./fonts/Marhey/Marhey-VariableFont_wght.woff") format("woff");

    font-weight: 300 700;
    font-display: swap;
  }

  .font-face {
    font-family: "myfont", monospace;
    font-variation-settings: "wght" 300;
    font-synthesis: none;

    & > h1:hover {
      font-variation-settings: "wght" 700;
    }

    & > p:hover {
      font-variation-settings: "wght" 500;
    }
  }

  #font-face-api {
    & > h1 {
      color: orange;

      &:hover {
        font-variation-settings: "wght" 700;
      }
    }

    & > p {
      color: #eee;

      &:hover {
        font-variation-settings: "wght" 500;
      }
    }
  }
}
