@layer framie, test;

@layer test {
  a#ref {
    text-decoration: none;
    background: linear-gradient(blue, orange);
    padding: 10px;
    border-radius: 20px;
    font-family: cursive;
    width: fit-content;

    &:hover {
      transform: scale(1.1);
    }
  }

  .list {
    ul {
      background-color: #444;

      list-style-type: symbols(symbolic "*" "-" "+");
      /* list-style-type: arabic-indic; */

      list-style-position: inside;
      list-style-position: outside;

      /* list-style-image: linear-gradient(to left, red, green, blue);
      list-style-image: url(../../Files/images/firefox-logo.svg); */

      /* short-hand */
      /* list-style: disc outside url(../../Files/images/firefox-logo.svg); */

      & > li {
        padding-inline: 10px;
        text-align: start;

        &::marker {
          color: red;
          font-size: 1rem;
        }
      }
    }
  }
}
