@layer framie, test;

@layer test {
  .wrapper {
    border: 2px solid orange;
    padding: 30px;

    & > h2 {
      /* column-span: none; */
      column-span: all;
      margin: 15px;
    }

    columns: 4 200px;
    /* column-count: 3; */
    /* column-width: 200px; */

    /* column-gap: 100px; */
    column-gap: normal;

    /* column-fill: auto; */
    /* column-fill: balance-all; */
    column-fill: balance;

    /* column-rule: 2px solid red; */
    column-rule-width: 2px;
    column-rule-style: solid;
    column-rule-color: red;
  }
}
