<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="stylesheet" href="./style.css" />
    <style>
      @import url("../../../framework/style.css") layer(framie);
    </style>
    <script src="./script.js" async></script>
    <script src="../../../framework/script.js" async></script>
    <title>Grid</title>
  </head>
  <body>
    <div class="progress-cont">
      <div id="progress"></div>
    </div>

    <div class="Header">CSS</div>

    <a
      id="ref"
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout"
      >MDN</a
    >
    <!--============= Content Start =============-->
    <div class="cont">
      <div id="grid-box" class="id-title-box">
        <span class="counter-box red"></span>
        <span class="counter-box" ></span>
        <span class="counter-box green" ></span>
        <span class="counter-box" ></span>
        <span class="counter-box blue" ></span>
        <span class="counter-box" ></span>
        <span class="counter-box orange" ></span>
        <span class="counter-box" ></span>
        <span class="counter-box violet" ></span>
      </div>

      <!-- challenge 1 -->
      <div id="challenge-1" class="id-title-box remove">
        <span class="txt-cntr">logo</span>
        <span class="txt-cntr">icon</span>
        <span class="txt-cntr">icon</span>
        <span class="txt-cntr">icon</span>
      </div>
    </div>
    <!--============== Content End ==============-->

    <div
      class="back-to-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    ></div>
  </body>
</html>
