<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="../../../framework/style.css" />
    <script src="./script.js" defer></script>
    <script src="../../../framework/script.js" defer></script>
    <title>Grid</title>
  </head>
  <body>
    <div class="progress"></div>
    <div class="Header">CSS</div>

    <a
      id="ref"
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout"
      >MDN</a
    >
    <!--============= Content Start =============-->
    <div class="cont">
      <div id="grid-box" class="id-title-box ex-1 remove">
        <span tabindex="0" class="counter-box red"></span>
        <span tabindex="0" class="counter-box green"></span>
        <span tabindex="0" class="counter-box blue"></span>
        <span tabindex="0" class="counter-box orange"></span>
        <span tabindex="0" class="counter-box violet"></span>
        <span tabindex="0" class="counter-box dark"></span>
      </div>

      <!-- grid with { display: contents } -->
      <div id="grid-contents" class="id-title-box remove">
        <div id="grid-box">
          <span class="counter-box red"></span>
          <span class="counter-box green"></span>
          <span class="counter-box blue"></span>
        </div>
        <span class="counter-box orange"></span>
        <span class="counter-box violet"></span>
        <span class="counter-box dark"></span>

        <div class="controls">
          <label for="diplay-options">diplay:</label>
          <select id="diplay-options"></select>
        </div>
      </div>

      <!-- auto placement algorithm -->
      <div id="auto-placement" class="id-title-box remove">
        <div id="grid-box">
          <span class="counter-box red"></span>
          <span class="counter-box green"></span>
          <span class="counter-box blue"></span>
          <span class="counter-box orange"></span>
          <span class="counter-box violet"></span>
          <span class="counter-box dark"></span>
        </div>

        <div class="controls">
          <select id="auto-flow-options"></select>
          <div class="chkbox-wrapper">
            <input type="checkbox" id="dense" />
            <label for="dense">dense</label>
          </div>
        </div>
      </div>

      <!-- subgrid-1 -->
      <div id="subgrid-box-1" class="id-title-box remove">
        <div>
          <span class="counter-box"></span>
        </div>
      </div>

      <!-- subgrid-2 -->
      <div id="subgrid-box-2" class="id-title-box remove">
        <div>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
        </div>
      </div>

      <!-- subgrids-3 -->
      <div id="subgrid-box-3" class="id-title-box remove">
        <div>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
          <span class="counter-box"></span>
        </div>
      </div>

      <!-- masonry-grid -->
      <div id="masonry-grid" class="id-title-box ">
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
        <span class="counter-box"></span>
      </div>

      <!-- challenge 1 -->
      <div id="challenge-1" class="id-title-box remove">
        <span class="txt-cntr">logo</span>
        <span class="txt-cntr">icon</span>
        <span class="txt-cntr">icon</span>
        <span class="txt-cntr">icon</span>
      </div>
    </div>
    <!--============== Content End ==============-->

    <div
      class="back-to-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    ></div>
  </body>
</html>
