@layer normalize, framie, main;
@layer main {
  /* fonts start */
  @font-face {
    font-family: "OpenSans";
    src: url(../files/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.woff2)
        format("woff2"),
      url(../files/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.woff)
        format("woff");

    font-weight: 100 1000;
    font-display: swap;
  }
  @font-face {
    font-family: "Marhey";
    src: url(../files/fonts/Marhey/Marhey-VariableFont_wght.woff2)
        format("woff2"),
      url(../files/fonts/Marhey/Marhey-VariableFont_wght.woff) format("woff");

    font-weight: 100 1000;
    font-display: swap;
  }
  /* fonts end */

  /* global rules start */
  html {
    font-family: "OpenSans", monospace, sans-serif;
    font-size: 25px;
  }

  :root {
    --main-col: #2196f3;
    --transition: 300ms linear;
  }

  body {
    height: 300vh;
  }

  .container {
    padding: 10px;
    margin: 0 70px;
  }
  /* global rules end */

  /* header start */
  header > .container {
    & > .logo {
      font: 1em "Marhey";
      color: var(--main-col);
      transition: font-weight var(--transition),
        background-size var(--transition);
      width: fit-content;
      background: linear-gradient(to right, var(--main-col), blue) no-repeat;
      background-position: left bottom 20%;
      background-size: 0 5px;

      &:hover {
        font-weight: 1000;
        background-size: 100% 5px;
      }
    }

    & > nav {
    }
  }
  /* header end */
}
