<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="stylesheet" href="./style.css" />
    <script src="../../../framework/script.js" async></script>
    <style>
      @import url(../../../framework/style.css) layer(framie);
    </style>
    <title>Columns Layout</title>
  </head>
  <body>
    <!-- progress Start -->
    <div class="progress-cont">
      <div id="progress"></div>
    </div>
    <!-- progress End -->

    <div class="Header">CSS</div>

    <a
      id="ref"
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_multicol_layout"
      >MDN</a
    >

    <!--================ Content Start ================-->
    <div class="wrapper text remove">
      <h2>Heading - Heading - Heading</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sunt
      iste blanditiis ullam, repellendus optio dolor facere minima earum autem
      laborum dolorem distinctio saepe voluptatum sit rerum! Libero fuga
      officiis repudiandae blanditiis reprehenderit molestias temporibus impedit
      ipsum at! Asperiores at ex illum quasi! Tempora saepe laudantium adipisci
      temporibus architecto sint, distinctio aspernatur magni facilis
      reprehenderit atque laboriosam reiciendis! Excepturi beatae assumenda
      voluptates, alias similique pariatur odit? Commodi provident quas odio
      velit, autem veritatis, aliquid, unde tempore necessitatibus natus
      deserunt laudantium aut corrupti distinctio. In sit quisquam
      exercitationem necessitatibus assumenda est aliquid, porro repellat totam
      harum aliquam rem sed vitae itaque.
    </div>

    <div class="wrapper images remove">
      <h1>this is a columns layout</h1>
      <figure>
        <img src="../../../Files/images/firefox-logo.svg" />
        <figcaption>firefox</figcaption>
      </figure>
      <img src="../../../Files/images/_hide.png" />
      <img src="../../../Files/images/python.png" />
      <img src="../../../Files/images/c-sharp.png" />
      <img src="../../../Files/images/icons8-mouse-cursor-100.png" />
      <h1>this is a columns layout</h1>
      <img src="../../../Files/images/hide.png" />
      <img src="../../../Files/images/view.png" />
      <img src="../../../Files/images/eye.png" />
      <img src="../../../Files/images/white-ass.png" />
      <img src="../../../Files/images/Assassins.png" />
    </div>

    <ul class="wrapper fake-masonry">
      <li>
        <h3>heading</h3>
        <img src="../../../Files/images/firefox-logo.svg" />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        <img src="../../../Files/images/firefox-logo.svg" />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        <img src="../../../Files/images/firefox-logo.svg" />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        <img src="../../../Files/images/firefox-logo.svg" />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        <img src="../../../Files/images/firefox-logo.svg" />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
      <li>
        <h3>heading</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, tenetur?
      </li>
    </ul>
    <!--================= Content End =================-->

    <div
      class="back-to-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    ></div>
  </body>
</html>
