@layer framie, test;

@layer test {
  .text {
    & > h2 {
      /* column-span: none; */
      column-span: all;
      margin: 20px;
    }

    orphans: 3;
    widows: 3;

    columns: 4 200px;
    /* column-count: 3; */
    /* column-width: 200px; */

    /* column-gap: normal; */
    /* column-gap: 100px; */
    gap: 50px; /* === column-gap */

    /* column-fill: auto; */
    /* column-fill: balance-all; */
    column-fill: balance;

    /* column-rule-width: 2px; */
    /* column-rule-style: solid; */
    /* column-rule-color: red; */
    column-rule: 2px solid red;
  }

  .images {
    column-width: 200px; /* max column width */
    column-count: 4; /* max columns count */
    columns: 200px 4; /* shorthand */

    column-fill: balance;
    gap: 30px;
    column-rule: 5px solid #f00;

    /* content break */
    break-inside: auto;

    & > h1 {
      column-span: all;
      color: orange;
    }

    & > figure {
      /* prevent breaks inside the figure */
      break-inside: avoid;

      & > * {
        color: #0093ef;
      }
    }

    & img {
      max-width: 50%;
    }
  }

  .fake-masonry {
    columns: 250px 5;
    list-style: none;
    --gap: clamp(1rem, 1.5vmin, 2rem);
    gap: var(--gap);

    & > li {
      background-color: #ff4625;
      border: 5px solid yellow;
      padding: 10px;
      margin-block-end: var(--gap);

      break-inside: avoid;
      /* box-decoration-break: clone; */

      break-before: column;
      break-after: column;

      & > h3 {
        color: #006eff;
      }

      & > img {
        width: 100px;
      }
    }
  }
}
