@layer framie, test;

@layer test {
  .cont {
    height: 95vh;
    position: relative;
    padding: 20px;

    /* background */
    background-image: url(../../Files/images/Assassins.png),
      linear-gradient(
        0.25turn,
        #000111,
        #111222,
        #222333,
        #333444,
        #444555,
        #555666
      );
    background-attachment: fixed, scroll;
    background-clip: border-box, padding-box;
    /* background-origin: content-box; */
    /* background-color: red; */
    background-size: 150px auto, auto;
    background-position: center;
    background-repeat: no-repeat;

    /* border */
    /* border: 10px solid red; */
    border-top: 10px solid red;
    border-bottom: 10px groove green;
    border-left: 10px double blueviolet;
    border-right: 10px dotted blue;
    border-radius: 10px;

    & > button {
      text-align: center;
      position: fixed;
      padding: 15px;
      right: 40px;
    }
    & > button#move {
      top: 380px;
    }
    & > button#change {
      top: 437px;
    }
  }

  .border-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-block: 50px;
      width: 70%;
      aspect-ratio: 1;
      position: relative;
      background-image: linear-gradient(135deg, orange 50%, #333 50%);

      &::before {
        content: "Border Image";
        color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }

    & > .ex-1 {
      border-image-source: url("../../Files/images/border.png");
      border-image-slice: 100;
      border-image-width: 25px;
      border-image-outset: 25px;
      border-image-repeat: round;
    }

    & > .ex-2 {
      border-image: linear-gradient(135deg, red, blue) 100 / 10px / 20px stretch;
    }

    & > .ex-3 {
      border-block-start: 10px solid;
      border-image-source: linear-gradient(to right, red 50%, blue 50%);
      border-image-slice: 1;
    }

    & > .ex-4 {
      border-inline-start: 10px solid;
      border-image: linear-gradient(red, blue) 1;
    }

    & > .ex-5 {
      border-inline-start: 7px solid;
      border-block-start: 7px solid;
      border-image: radial-gradient(circle at top left, red 50%, blue 50%) 1;
    }

    & > .ex-6 {
      border-inline-end: 7px solid;
      border-block-end: 7px solid;
      border-image: radial-gradient(circle at 100% 100%, red, blue 50%) 1;
    }
  }
}
