@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-weight: bold;
  transition: 1s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Caprasimo", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

::selection {
  color: white;
  background-color: black;
}

body {
  background-color: black;
  color: white;
}

.container {
  margin: 70px;
  padding: 30px 50px;
  font-size: 20px;
  background-color: rgb(221 221 221 / 0.7);
}

.title {
  position: relative;
  color: #ddd;
  width: fit-content;
  padding: 10px;
  margin: 20px auto 70px;
  text-align: center;
  transition: 0.5s;
}
.title:hover > p {
  color: rgb(255, 246, 121);
  cursor: default;
}

.title > p {
  transition: 0.5s;
  display: inline-block;
  border: 3px solid;
  padding: 5px;
}
