/* you can create any class you always use and insert it as (class name) in the html elements */

.flex-center-row-nowrap-SB {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-center-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.flex-center-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.grid-center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove {
  display: none;
}
