:root {
  --tag-wdth: 83px;
}

hr {
  background-color: #aaa;
  height: 2px;
  border-radius: 100px;
  margin-block-end: 5px;
}

.header {
  text-align: center;
  font-size: 2rem;
  background-color: orange;
  padding: 20px;
  box-shadow: 0 0 20px 5px deepskyblue;
}

.content {
  display: flex;
  padding: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  flex: 3;

  .post {
    display: flex;
    flex-direction: column;
    background-color: #555;
    padding: 15px;
    border: 2px solid deepskyblue;
    counter-increment: counter;
    flex: 1;
    border-radius: 7px;
    transition: display 1s allow-discrete, opacity 1s, scale 1s;

    @starting-style {
      opacity: 0;
      scale: 0 1;
    }

    &.hidden {
      opacity: 0;
      scale: 0 1;
      display: none;
    }

    & > .title {
      color: deepskyblue;
      text-transform: uppercase;
      margin-block-end: 10px;
    }

    & > .info {
      color: orange;
      hyphens: auto;
      user-select: all;
    }
  }
}

.tags {
  display: grid;
  grid: none / repeat(auto-fill, minmax(min(100%, var(--tag-wdth)), 1fr));
  place-content: start;
  gap: 10px;
  padding: 70px 20px 20px;
  flex: 1;
  border: 3px solid rosybrown;
  margin-block-start: 20px;
  border-radius: 10px;
  background-color: #444;
  height: fit-content;
  position: sticky;
  top: 20px;

  & > .tag {
    background-color: orange;
    counter-increment: tag-count;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    color: #000;
    display: flex;
    place-content: center;
    place-items: center;
    gap: 10px;
    font-size: 15px;
    transition: background-color 500ms, opacity 300ms;
    opacity: 0.7;

    &.hidden {
      color: #000;
      background-color: #eee;

      &::after {
        background-color: orange;
      }
    }

    &::after {
      content: counter(tag-count);
      background-color: #eee;
      color: #000;
      border-radius: 100%;
      min-width: 30px;
      min-height: 30px;
      display: flex;
      place-content: center;
      align-items: center;
      transition: background-color 500ms;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.btn {
  background-color: green;
  cursor: pointer;
  border-radius: 100px;
  color: #000;
  display: flex;
  place-content: center;
  place-items: center;
  transition: background-color 500ms, opacity 300ms;
  opacity: 0.7;
  font-size: 2rem;
  width: 35px;
  height: 35px;

  &:hover {
    opacity: 1;
    background-color: #eee;
  }

  &:active {
    background-color: red;
    color: #eee;
  }

  &.add {
    background-color: green;
    padding: 13px 10px 10px;
  }

  &.remove {
    background-color: red;
    padding: 10px 10px 13px;
  }
}

.controls {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 15px;
  right: 50%;
  translate: 50% 0;
}

@media (width <= 500px) {
  .content {
    flex-direction: column-reverse;

    & > .tags {
      margin-inline: 20px;
      --tag-wdth: 85px;
      position: unset;
      top: 0;
    }
  }
}
